#section-1 {
    background-color: darkcyan;
    height: 400px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
    padding: 55px;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding: 10px 16px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li.active {
    background-color: rgb(8, 71, 71);
    border-radius: 5px;
}

.main-heading {
    margin-top: 148px;
    text-align: center;
    background-color: darkred;
    height: 1500px;
    color: white;
}

.main-heading h1 {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}

.main-heading a {
    text-decoration: none;
    background-color: #eb7d4b;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 25px 85px;
    color: white;
}

#shadows img {
    filter: blur(3px);
    transition: 3s ease-in-out;
}

#shadows:hover img {
    filter: blur(0px); 
    transition: 3s ease-in-out;
}

#section-2 {
    background-color: chocolate;
    height: 450px;
}

.logo_img {
    width: 300px;
    height: 100px;
}

.section-2 {
    background-color: #eb7d4b;
    height: 1000px;
}

.angry {
    text-align: center;
    color: white;
}

.futile {
    margin-left: 800px;
}

.pc {
    width: 300px;
    height: 300px;
}

.footer {
    background-color: #3c5499;
    min-height: 820px;
    color: white;
    text-align: center;
}

#contact-form {
    max-width: 860px;
    margin-left: auto;   
    margin-right: auto;
}

.form-row {
    display: flex;
}

input[type="text"], input[type="email"], textarea {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: #273a71;
    border: none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 26px;
}

textarea {
    height: 200px;
    width: 100%;
    padding-top: 24px;
}

input[type="submit"]{
    background-color: #30bae7;
    border: none;
    text-transform: uppercase;
    margin-left: auto;   
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
}

.big-button {
    padding: 25px 85px;
    color:white;
}